<h2>Details of {{userDetails.FirstName}} {{userDetails.LastName}}</h2>
 
<table class='table'>
  <thead>
    <tr>
      <th>PESEL Number</th>
      <th>Date of Brith</th>
      <th>Gender</th>
      <th>Title</th>
      <th>Location</th>
      <th>Adress</th>
      <th>Email</th>
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody>


 

    <tr>
      <td>{{userDetails.Pesel}}</td>
      <td>{{userDetails.DateOfBrith}}</td>
      <td>{{userDetails.Gender}}</td>
      <td>{{userDetails.Title}}</td>
      <td>{{userDetails.Location}}</td>
      <td>{{userDetails.Adress}}</td>
      <td>{{userDetails.Email}}</td>
      <td>{{userDetails.PhoneNumer}}</td>
      
    </tr>
  </tbody>
</table>
<form [formGroup]="detailsForm"(ngSubmit)="Submit()">
  <p>
    <label for="FirstName">First Name </label>
    <input type="text" id="FirstName" name="FirstName" formControlName="FirstName"> 
  </p>

  <p>
    <label for="LastName">Last Name </label>
    <input type="text" id="LastName" name="LastName" formControlName="LastName"> 
  </p>

  <p>
    <label for="Pesel">PESEL Number</label>
    <input type="text" id="Pesel" name="Pesel" formControlName="Pesel"> 
  </p>

  <p>
    <label for="DateOfBrith">Date of Brith</label>
    <input type="text" id="DateOfBrith" name="DateOfBrith" formControlName="DateOfBrith"> 
  </p>

  <p>
    <label for="Gender">Gender</label>
    <input type="text" id="Gender" name="Gender" formControlName="Gender"> 
  </p>

  <p>
    <label for="Title">Title </label>
    <input type="text" id="Title" name="Title" formControlName="Title"> 
  </p>

  <p>
    <label for="Location">Location</label>
    <input type="text" id="Location" name="Location" formControlName="Location"> 
  </p>

  <p>
    <label for="Adress">Address</label>
    <input type="text" id="Adress" name="Adress" formControlName="Adress"> 
  </p>

  <p>
    <label for="Email">E-mail</label>
    <input type="text" id="Email" name="Email" formControlName="Email"> 
  </p>

  <p>
    <label for="PhoneNumer">Phone Number</label>
    <input type="text" id="PhoneNumer" name="PhoneNumer" formControlName="PhoneNumer"> 
  </p>

  <button type="submit">ok</button>
</form>